// Core variables and mixins
@import "../../node_modules/bootstrap/less/variables.less";
@import "../../node_modules/bootstrap/less/mixins.less";
@import "../../node_modules/font-awesome/less/variables.less";
@import "../../node_modules/font-awesome/less/mixins.less";

// Our own variables
@icon-font-path: "fonts/";
@fa-font-path: "fonts";
@images: "images/";

@white: #ffffff;
@black: black;
@gray: gray;
@shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

@apple: #2ac56c;
@fiord: #3e5c6e;
@blueDianne: #254355;
@outrageousOrange: #ff6037;

@shark: #1c1e1e;
@shark1: #242627;
@shark2: #323436;
@shark3: #2b2d2e;

@mercury: #e9e9e9;
@nevada: #6e7174;
@alabaster: #f9f9f9;
@concrete: #f3f3f3;

@silver1: #bfbfbf;
@silver2: #b8b8b8;

@chinnabar: #e14c38;

@navbar-height: 40px;
@navbar-default-bg: @shark1;
@navbar-padding-horizontal: 0;

@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg: @shark1;

@navbar-default-brand-hover-bg: @shark1;

@dropdown-bg: @shark2;
@dropdown-link-color: @silver2;

@tooltip-opacity: 0.6;
@tooltip-color: @white;
@tooltip-bg: @shark;

@notif-color: @white;
@notif-color-bg: @blueDianne;
@notif-color-bg-danger: @outrageousOrange;
@notif-shadow: @shadow;

@btn-default-color: @white;
@btn-default-bg: @apple;
@btn-danger-bg: @outrageousOrange;

// Reset
@import "../../node_modules/bootstrap/less/normalize.less";
@import "../../node_modules/bootstrap/less/print.less";
@import "../../node_modules/bootstrap/less/glyphicons.less";

// Core CSS
@import "../../node_modules/bootstrap/less/scaffolding.less";
@import "../../node_modules/bootstrap/less/type.less";
@import "../../node_modules/bootstrap/less/code.less";
@import "../../node_modules/bootstrap/less/grid.less";
@import "../../node_modules/bootstrap/less/tables.less";
@import "../../node_modules/bootstrap/less/forms.less";
@import "../../node_modules/bootstrap/less/buttons.less";

// Components
@import "../../node_modules/bootstrap/less/component-animations.less";
@import "../../node_modules/bootstrap/less/dropdowns.less";
@import "../../node_modules/bootstrap/less/button-groups.less";
@import "../../node_modules/bootstrap/less/input-groups.less";
@import "../../node_modules/bootstrap/less/navs.less";
@import "../../node_modules/bootstrap/less/navbar.less";
@import "../../node_modules/bootstrap/less/breadcrumbs.less";
@import "../../node_modules/bootstrap/less/pagination.less";
@import "../../node_modules/bootstrap/less/pager.less";
@import "../../node_modules/bootstrap/less/labels.less";
@import "../../node_modules/bootstrap/less/badges.less";
@import "../../node_modules/bootstrap/less/jumbotron.less";
@import "../../node_modules/bootstrap/less/thumbnails.less";
@import "../../node_modules/bootstrap/less/alerts.less";
@import "../../node_modules/bootstrap/less/progress-bars.less";
@import "../../node_modules/bootstrap/less/media.less";
@import "../../node_modules/bootstrap/less/list-group.less";
@import "../../node_modules/bootstrap/less/panels.less";
@import "../../node_modules/bootstrap/less/responsive-embed.less";
@import "../../node_modules/bootstrap/less/wells.less";
@import "../../node_modules/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../node_modules/bootstrap/less/modals.less";
@import "../../node_modules/bootstrap/less/tooltip.less";
@import "../../node_modules/bootstrap/less/popovers.less";
@import "../../node_modules/bootstrap/less/carousel.less";

// Utility classes
@import "../../node_modules/bootstrap/less/utilities.less";
@import "../../node_modules/bootstrap/less/responsive-utilities.less";

// Font Awesome
@import "../../node_modules/font-awesome/less/path.less";
@import "../../node_modules/font-awesome/less/core.less";
@import "../../node_modules/font-awesome/less/larger.less";
@import "../../node_modules/font-awesome/less/fixed-width.less";
@import "../../node_modules/font-awesome/less/list.less";
@import "../../node_modules/font-awesome/less/bordered-pulled.less";
@import "../../node_modules/font-awesome/less/spinning.less";
@import "../../node_modules/font-awesome/less/rotated-flipped.less";
@import "../../node_modules/font-awesome/less/stacked.less";
@import "../../node_modules/font-awesome/less/icons.less";

// Our own mixins
@import "mixins.less";

// NotifIt
@import "../../node_modules/notif-it/notif-it.less";

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background: @mercury;
}

.dummy {
	display: none;
}

a {
	text-decoration: none!important;
}

.btn {
	height: 30px;
	.rounded(0);
}

.tooltip-inner {
	padding: 10px;
	font-size: 12px;
	width: 150px;

	.rounded(4px);
}

::-webkit-input-placeholder {
	color: @shark1;
}

::-moz-placeholder {
	color: @shark1;
}

:-moz-placeholder {
	color: @shark1;
}

:-ms-input-placeholder {
	color: @shark1;
}

@import "navbar.less";
@import "landing.less";
@import "console.less";
@import "sidebar.less";
@import "editor.less";
