// Core variables and mixins
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

// Our own variables
@icon-font-path: "fonts/";
@fa-font-path: "fonts";
@images: "images/";

@white: #ffffff;
@black: #000000;

@turquoise: #1abc9c;
@greensea: #16a085;
@emerald: #2ecc71;
@nephritis: #27ae60;
@peter: #3498db;
@belize: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@asphalt: #34495e;
@midnight: #253647;
@sunflower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
@silver: #bdc3c7;
@asbestos: #7f8c8d;

@gray: #666666;
@gray-dark: darken(@gray, 13.5%);
@gray-darker: darken(@gray, 20%);
@gray-light: lighten(@gray, 26.5%);
@gray-lighter: lighten(@gray, 60%);

@brand-primary: @pomegranate;
@brand-success: @emerald;
@brand-info: @peter;
@brand-warning: @carrot;
@brand-danger: @alizarin;

@body-bg: #e3effa;

@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-large: 0;

@table-bg-accent: darken(@body-bg, 5%);
@table-bg-hover: @table-bg-accent;

@table-border-color: @gray-lighter;

@component-active-color: @white;
@component-active-bg: @brand-primary;

@btn-default-color: @white;
@btn-default-bg: @asbestos;

@btn-default-border: darken(@btn-default-bg, 5%);

@input-bg: lighten(@silver, 26.5%);
@input-bg-disabled: lighten(@silver, 13.5%);

@input-border: @gray-dark;
@input-border-focus: @gray-darker;

@legend-border-color: @input-border;

@navbar-inverse-color: @gray-light;
@navbar-inverse-bg: @midnight;
@navbar-inverse-border: @navbar-inverse-bg;

@navbar-inverse-link-color: rgba(116,129,143,.7);
@navbar-inverse-link-hover-color: rgba(116,129,143,1);
@navbar-inverse-link-active-bg: transparent;
@navbar-inverse-link-disabled-color: @gray-dark;

@navbar-inverse-brand-color: @sunflower;
@navbar-inverse-brand-hover-color: @sunflower;

@navbar-inverse-toggle-hover-bg: darken(@navbar-inverse-bg, 6.5%);
@navbar-inverse-toggle-icon-bar-bg: @sunflower;
@navbar-inverse-toggle-border-color: @navbar-inverse-bg;

@dropdown-bg: @gray-lighter;
@dropdown-divider-bg: @gray-dark;

@dropdown-border: @gray-light;
@dropdown-fallback-border: @dropdown-border;

@dropdown-link-hover-color: @link-hover-color;
@dropdown-link-hover-bg: darken(@dropdown-bg, 5%);

@nav-link-hover-bg: @dropdown-link-hover-bg;
@nav-open-link-hover-color: @dropdown-link-hover-color;

@nav-disabled-link-color: @gray-dark;
@nav-disabled-link-hover-color: @nav-disabled-link-color;

@nav-tabs-border-color: @dropdown-border;
@nav-tabs-link-hover-border-color: @dropdown-border;
@nav-tabs-active-link-hover-border-color: @dropdown-border;

@nav-tabs-justified-link-border-color: @dropdown-border;

@nav-pills-active-link-hover-color: @component-active-color;
@nav-pills-active-link-hover-bg: @component-active-bg;

@pagination-bg: @dropdown-bg;
@pagination-hover-bg: @dropdown-link-hover-bg;

@pagination-active-color: @component-active-color;
@pagination-active-bg: @component-active-bg;

@pagination-disabled-color: @gray-dark;
@pagination-disabled-bg: @gray-light;

@state-success-text: @nephritis;
@state-success-bg: lighten(@emerald, 30%);

@state-info-text: @belize;
@state-info-bg: lighten(@peter, 30%);

@state-warning-text: @pumpkin;
@state-warning-bg: lighten(@carrot, 30%);

@state-danger-text: @pomegranate;
@state-danger-bg: lighten(@alizarin, 30%);

@popover-bg: @dropdown-bg;
@modal-content-bg: @dropdown-bg;
@well-bg: @dropdown-bg;
@pre-bg: @dropdown-bg;

@list-group-bg: @dropdown-bg;
@list-group-hover-bg: @dropdown-link-hover-bg;

@progress-bg: @dropdown-bg;
@progress-bar-color: @gray;

@breadcrumb-bg: @dropdown-bg;
@breadcrumb-color: @gray;
@breadcrumb-active-color: @gray-dark;

// Reset
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";

// Components
@import "../../bower_components/bootstrap/less/component-animations.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/dropdowns.less";
@import "../../bower_components/bootstrap/less/button-groups.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";
@import "../../bower_components/bootstrap/less/breadcrumbs.less";
@import "../../bower_components/bootstrap/less/pagination.less";
@import "../../bower_components/bootstrap/less/pager.less";
@import "../../bower_components/bootstrap/less/labels.less";
@import "../../bower_components/bootstrap/less/badges.less";
@import "../../bower_components/bootstrap/less/jumbotron.less";
@import "../../bower_components/bootstrap/less/thumbnails.less";
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/progress-bars.less";
@import "../../bower_components/bootstrap/less/media.less";
@import "../../bower_components/bootstrap/less/list-group.less";
@import "../../bower_components/bootstrap/less/panels.less";
@import "../../bower_components/bootstrap/less/wells.less";
@import "../../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../bower_components/bootstrap/less/modals.less";
@import "../../bower_components/bootstrap/less/tooltip.less";
@import "../../bower_components/bootstrap/less/popovers.less";
@import "../../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";

// Font Awesome
@import "../../bower_components/fontawesome/less/variables.less";
@import "../../bower_components/fontawesome/less/mixins.less";

@import "../../bower_components/fontawesome/less/path.less";
@import "../../bower_components/fontawesome/less/core.less";
@import "../../bower_components/fontawesome/less/larger.less";
@import "../../bower_components/fontawesome/less/fixed-width.less";
@import "../../bower_components/fontawesome/less/list.less";
@import "../../bower_components/fontawesome/less/bordered-pulled.less";
@import "../../bower_components/fontawesome/less/spinning.less";
@import "../../bower_components/fontawesome/less/rotated-flipped.less";
@import "../../bower_components/fontawesome/less/stacked.less";
@import "../../bower_components/fontawesome/less/icons.less";

html, body {
	height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	padding-top: 85px;
}

.btn {
	border: 0;

	&:active {
		.box-shadow(none);
	}
}

.navbar-collapse {
	border: 0;
	.box-shadow(none);
}

.navbar-nav {
	a {
		font-size: 16px;
		-webkit-transition: .6s all;
	}

	li a:hover {
		-webkit-transition: .6s all;
	}
}

.navbar-brand {
	position: relative;

	span.logo {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 44px;
		height: 44px;
		background: url("@{images}logo_reverse.png");
	}
}

@media (max-width: 768px) {
	.container > {
		.navbar-header, .navbar-collapse {
			margin: 0;
		}
	}
}

@import "landing.less";
@import "console.less";

.console {
	#org-switch, #org-settings {
		display: none;
	}
}

#wrap {
	min-height: 100%;
	height: auto;
	margin-bottom: -80px;
	padding-bottom: 80px;
}

footer {
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid rgba(116,129,143,.1);
	color: rgba(116,129,143,.5);
	font-size: 12px;
	text-align: center;
	width: 100%;
}
