body.console {

	.navbar-brand .brand {
		display: none;
	}

	#org-switch {
		display: inline-block;
		margin-left: 85px;
		color: @apple;
		background: @white;
		cursor: pointer;

		.box-shadow(@shadow);

		span.open .dropdown-toggle i::before {
			content: @fa-var-arrow-up;
		}

		.dropdown-toggle {
			width: 250px;
			height: 60px;
			font-size: 17px;

			i {
				font-size: 10px;
				padding: 25px;
				float: right;
				border-left: 2px solid @apple;

				.square(60px);

				&::before {
					content: @fa-var-arrow-down;
				}
			}
		}

		.dropdown-menu {
			width: 250px;
			padding: 0;
			margin: 0;
			border: 0;
			background: none;
			font-size: 15px;
			font-weight: bold;

			.rounded(0);
			.box-shadow(@shadow);

			li a {
				height: 60px;
				padding: 0;
				color: @white;
				background: @fiord;

				.transition-all(0.5s);

				&:hover {
					color: @white;
					background: @blueDianne;
				}
			}

			li:last-child a {
				border: 0;
			}
		}

		.dropdown-toggle span,
		.dropdown-menu li a span {
			position: relative;
			font-weight: bold;
			line-height: 20px;

			.position(20px, 30px);
		}
	}

	.content {
		float: right;
		width: 655px;
		display: inline-block;
	}

	.panel {
		margin-top: 40px;
	}
}
