body.console {
	text-transform: uppercase;

	#trial, #features, footer {
		display: none;
	}

	footer {
		background: transparent;
	}

	#org-switch .dropdown {

		&.open .dropdown-toggle > i::before {
			content: @fa-var-angle-up;
		}

		.dropdown-toggle {
			display: inline-block;
			border: 0;
			padding: 10px;
			color: @silver;
			background: @shark;
			cursor: pointer;
			width: 260px;
			height: 40px;
			font-size: 18px;

			> div {
				width: 200px;
				height: 20px;
				display: inline-block;
				position: relative;
				overflow: hidden;
				letter-spacing: 2.25px;
				.position(0, 20px);
			}

			> i {
				float: right;
				line-height: 20px;
				.square(20px);

				&::before {
					content: @fa-var-angle-down;
				}
			}
		}

		.dropdown-menu {
			width: 320px;
			padding: 0;
			margin: 10px 0 0;
			border: 0;
			font-size: 16px;
			.box-shadow(none);
			.rounded(0);

			li > a {
				height: 60px;
				background: @shark2;
				margin: 0;
				border-bottom: 1px solid @shark3;
				display: inline-block;

				&.org-name {
					width: 260px;
					padding: 20px 0 20px 30px;
					overflow: hidden;

					> div {
						width: 230px;
					}

					&:hover {
						background: @shark1;
					}
				}

				&.edit-org {
					color: @doveGray;
					width: 60px;
					padding: 20px;
					float: right;

					i {
						line-height: 20px;
						.square(20px);
					}
				}

				> div {
					width: 200px;
					height: 20px;
					line-height: 20px;
					padding: 0;
				}
			}

			li:last-child > a {
				border: 0;
			}

			li.create-button {
				height: 80px;
				padding: 20px 30px;

				> a {
					padding-left: 20px !important;
					padding-right: 20px !important;

					i {
						margin-left: 6px;
					}
				}
			}

			li.active > a {
				background: @shark !important;

				&.org-name {
					padding-left: 25px;
					border-left: 5px solid @chinnabar;
				}
			}
		}
	}

	#wrap, #delete-wrap {
		margin: 170px 0 0 300px;
		padding: 0;
		font-size: 14px;

		.content {
			margin: auto;
			width: 605px;
		}
	}

	#delete-wrap {
		background: @concrete;
		margin-top: 40px;
		padding: 60px 0 80px;

		> div {
			width: 724px;
			margin: auto;
		}

		.trash-bin {
			width: 200px;
			height: 200px;
			display: inline-block;
			background: url("@{images}/trashbin.svg");
			background-size: 200px 200px;
			float: left;
			position: relative;
			top: 45px;
		}

		.delete-panel {
			float: left;
			margin-left: 50px;

			&.pull-right {
				margin-left: 0;
			}

			h3 {
				margin-top: 60px;
				line-height: 40px;
				letter-spacing: 2.25px;
			}

			p {
				text-transform: none;
				font-size: 16px;
				color: @nevada;
				margin-bottom: 20px;
				line-height: 20px;
			}

			button {
				min-width: 150px;
			}
		}
	}

	.panel {
		margin-top: 40px;
	}

	.pageheader {
		width: 520px;
		display: inline-block;
		float: left;
		letter-spacing: 2.25px;
	}

	.subheader {
		font-family: 'Gotham Rounded Book', sans-serif;
		font-size: 14px;
		line-height: 20px;
		height: 20px;
		margin: 15px 0;
		color: @shark;
	}

	.content > div:first-child > a {
		float: right;
	}

	.seperator {
		margin-bottom: 30px;
	}

	.btn-round {
		padding: 13px 15px;
		.square(40px);
		.rounded(20px);
		border: 0;
		float: right;

		i {
			width: 10px;
			height: 14px;
			line-height: 14px;
			background-size: 10px 14px;

			&.lock {
				background: url("@{images}/lock.svg");
				height: 12px;
			}

			&.unlock {
				background: url("@{images}/unlock.svg");
			}
		}
	}

	#admin-actions {
		letter-spacing: 1.75px;
	}

	.admin {
		float: left;
		display: inline-block;
		color: @shark;

		a {
			color: @punch;
			margin-left: 5px;
		}
	}

	.actions {
		float: right;
		display: inline-block;

		.settings a {
			color: @doveGray;

			i {
				padding-right: 5px;
				width: 25px;
				height: 20px;
			}
		}
	}

	.table thead tr, .table-head-like {
		height: 60px;
		line-height: 20px;
		padding: 20px 40px;
		color: @white;
		background: @chinnabar !important;
		font-family: 'Gotham Rounded Medium', sans-serif;
		letter-spacing: 1.5px;
	}

	.table {
		tr {
			height: 60px;

			&:nth-child(odd) {
				background: @alabaster;
			}

			&:nth-child(even) {
				background: @concrete;
			}
		}

		td {
			line-height: 20px;
			padding: 20px 60px;
			border: 0;

			&:first-child {
				width: 65%;
			}

			&:nth-child(even) {
				padding: 15px 60px;
				min-width: 270px;
			}

			a {
				color: @shark1;
			}

			input {
				background: transparent;
			}

			.btn {
				height: 30px;
				min-width: 150px;
				line-height: 20px;
				font-size: 10px;
				font-family: 'Gotham Rounded Medium', sans-serif;
				padding: 5px 25px;
				letter-spacing: 1.25px;

				&.delete {
					background: transparent;
					border: 1px solid @silver;
					color: @silver;
					min-width: 30px;
					padding: 4px 9px;
					float: right;
					.transition(all 0.5s linear);

					i {
						line-height: 10px;
						display: block;
						.square(10px);
						background: url('@{images}/cross.svg');
						background-size: 10px 10px;
						margin: 5px auto;
					}

					span {
						display: none;
					}

					&:hover {
						color: @punch;
						border-color: @punch;
						min-width: 150px;
						padding: 4px 22px;
					}

					&:focus {
						color: @mojo;
						border-color: @mojo;
					}

					&:hover, &:focus {
						i {
							display: none;
						}

						span {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	form {
		margin-top: 50px;

		.form-group {
			margin-bottom: 30px;
		}
	}

	.grant {
		border: none !important;
		padding: 0;
		height: 20px;
	}

	#delete-confirm {
		input {
			margin-bottom: 50px;
		}

		button {
			margin-left: 20px;
		}

		.modal-second-warn {
			margin: 30px 0;
			color: @punch;
			text-transform: uppercase;
			font-family: 'Gotham Rounded Medium', sans-serif;
		}
	}

	#empty-projects {
		.pageheader {
			color: @punch;
			margin-bottom: 0;
		}

		.seperator {
			display: none;
		}
	}
}
