body.landing {
	background: url("@{images}landing_bg.jpg") center 0 no-repeat #2c3e50;

	#org-switch, #org-settings {
		display: none;
	}
}

/*---------------------------------------*/
/*               HEADER                  */
/*---------------------------------------*/

.landing .navbar {
	padding: 35px 0;
	background: transparent;
	border: none;
}

.landing .navbar-brand {
	position: relative;
	padding-left: 55px;

	span {
		position: absolute;
		top: 3px;
		left: 0;
		display: inline-block;
		width: 44px;
		height: 44px;
		background: url("@{images}logo_reverse.png");
	}

	font-size: 36px;
	font-weight: 100;
	letter-spacing: -1px;
}

@media (max-width: 768px) {
	.landing .navbar-nav {
		background: #2c3e50;
	}
}

/*---------------------------------------*/
/*                MAIN                   */
/*---------------------------------------*/

.landing .main {
	margin-top: 220px;
	text-align: center;

	.inner {
		position: relative;
		padding: 30px;
		margin-right: -15px;
	}

	h2 {
		padding: 0 0 15px 0;
		margin: 0;
		color: @sunflower;
		font-size: 48px;
		font-weight: 600;
		line-height: 1.3em;
	}

	.btn-primary {
		padding: 11px 30px 14px 30px;
		margin: 10px -20px 0 -20px;
		border: 1px solid @sunflower;
		background: none;
		color: @sunflower;
		font-size: 24px;
		font-weight: 200;
	
		&:hover {
			background: rgba(0,0,0,.2);
		}
	}
}
