.navbar {
	padding: 35px 0;
}

.navbar-nav {
	a {
		font-size: 16px;
		color: rgba(116,129,143,.6);
		-webkit-transition: .6s all;
	}

	li a:hover {
		background: none;
		color: rgba(116,129,143,.8);
		-webkit-transition: .3s all;
	}

	li.active a {
		color: #74818f;
	}
}
