@sidebar-border: #C2D5E6;
@sidebar-link: rgb(116,129,143);

@media (min-width: 768px) {
	.console .sidebar {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.console .nav-sidebar {
		margin: 0!important;
	}
}

.console .nav-sidebar {
	border: 1px solid @sidebar-border;
	margin-right: -20px;
	margin-left: -20px;

	.rounded(4px);

	li {
		position: relative;

		&.head {
			padding: 12px 15px;
			color: @midnight;
			font-size: 16px;
			font-weight: 600;
			background: rgba(194,213,230,.2);

			&:hover {
				cursor: default;
			}
		}
	}
}

.console .nav-sidebar > li > a {
	padding: 12px 15px;
	font-size: 16px;
	border-top: 1px solid @sidebar-border;

	&:hover {
		background: none;
	}
}

.console .nav-sidebar a {
	color: fade(@sidebar-link, 80%);

	.transition-all(0.6s);

	&:hover {
		color: fade(@sidebar-link, 100%);
		background: rgba(255,255,255,.3)!important;

		.transition-all(0.3s);
	}
}

.console .nav-sidebar li ul {
	padding: 0;

	li {
		font-size: 16px;
		list-style: none;
		border-top: 1px solid lighten(@sidebar-border, 6.5%);

		a {
			display: block;
			padding: 12px 25px;
			color: fade(@sidebar-link, 80%);

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.console .nav-sidebar > li.active > a {
	color: fade(@sidebar-link, 100%);
	background: rgba(255,255,255,.4);

	.clearfix();

	&:after {
		position: absolute;
		top: 14px;
		right: -1px;
		z-index: 99;
		background: url("@{images}sidebar_active.png") 0 0 no-repeat;

		.size(9px, 16px);
	}

	&:hover {
		cursor: default;
	}
}

@sidebar-button: rgb(194, 213, 230);

.console .sidebar .btn {
	padding: 14px 0px;
	margin: 0 -20px 10px -20px;
	display: block;
	border: 1px solid fade(@sidebar-button, 50%);
	background: fade(@sidebar-button, 40%);
	color: fade(@black, 30%);

	.rounded(5px);

	&:hover {
		background: fade(@sidebar-button, 20%);
	}
}
