body.console .sidebar {
	float: left;
	width: 250px;
	display: inline-block;

	ul.nav {
		background: @fiord;

		.box-shadow(@shadow);

		li a {
			min-height: 60px;
			color: @white;
			padding: 0;
			margin: 0;

			span {
				width: 190px;
				font-weight: bold;
				font-size: 16px;
				line-height: 20px;
				float: left;
				padding: 20px 0 20px 30px;
			}

			i {
				font-size: 10px;
				padding: 25px;
				float: right;

				.square(60px);

				&::before {
					content: @fa-var-arrow-down;
				}
			}
		}

		&> li.active {
			a {
				background: @apple;

				i::before {
					content: @fa-var-arrow-up;
				}
			}

			&> ul.nav {
				list-style: none;

				.box-shadow(none);

				li a {
					color: @white;
					background: @blueDianne;

					.transition-all(0.5s);

					span {
						width: 250px;
						padding: 20px 0 20px 60px;
					}
				}

				li.active a,
				li a:hover {
					color: @apple;
				}
			}
		}
	}
}

body.console .sidebutton {
	display: block;
	width: 250px;
	height: 60px;
	color: @white;
	background: @apple;
	text-decoration: none;
	border: 0;
	margin: 0 0 20px;
	padding: 0;

	.rounded(0);
	.box-shadow(@shadow);

	span {
		display: inline-block;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 15px 0;
	}

	i {
		display: inline-block;
		font-size: 20px;
		padding: 20px;
		float: left;
		border-right: 2px solid @white;

		.square(60px);

		&::before {
			content: @fa-var-plus;
		}
	}
}
