body.console .sidebar {
	margin: 0;
	padding: 0;
	width: 250px;
	height: 100%;
	position: absolute;
	top: 110px;
	left: 0;
	background: @shark2;

	ul li[role="presentation"] {
		display: inline;

		a {
			width: 250px;
			min-height: 80px;
			padding: 0;
			margin: 0;
			border: 0;
			color: @white;
			background: @shark2;
			border-bottom: 1px solid @shark3;

			&:first-child > div {
				line-height: 20px;
				height: 80px;
				padding: 30px 40px;
			}
		}

		&> ul {
			list-style: none;
			display: inline-block;

			.box-shadow(none);

			li a {
				color: @silver1;
				background: @shark1;
				border: 0;

				> div {
					padding: 30px 40px 30px 60px !important;
				}
			}
		}
	}

	.sidebar-projects > li > a {
		width: 190px !important;
		float: left;

		&:nth-child(2) {
			width: 60px !important;
			float: right;
			height: 81px;
			padding: 30px 20px !important;

			i {
				height: 20px;
				line-height: 20px;
				color: @nevada;
			}
		}
	}

	ul > li[role="presentation"].active {
		border: 0;

		> a {
			background: @shark;
		}
	}
}

body.console .sidebutton {
	display: block;
	width: 250px;
	height: 120px;
	padding: 40px 30px;
	border-bottom: 1px solid @shark3;

	a {
		color: @silver1;
		background: @shark;
		margin: auto;
		padding: 10px 30px 10px 20px;
		height: 40px;

		i {
			float: left;
			line-height: 20px;
			.square(20px);
		}

		div {
			display: inline-block;
			line-height: 20px;
			height: 20px;
			margin-left: 10px;
		}
	}
}
